@model Product
@section Title {
                Products
}
@section heading {
                Edit
}
<form method="post" action="/admin/Products/edit" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id"/>
    <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input name="Name" value="@Model.Name" type="text" class="form-control" id="exampleInputName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="exampleInputDesc">Description</label>
        <textarea name="Description"  class="form-control" id="exampleInputDesc" placeholder="enter description">@Model.Description</textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputPrice">Price</label>
        <input name="Price" value="@Model.Price" type="number" class="form-control" id="exampleInputPrice" placeholder="enter price">
    </div>
    <div class="form-group">
        <label for="exampleInputqua">Quantity</label>
        <input name="Quantity" value="@Model.Quantity" type="number" class="form-control" id="exampleInputqua" placeholder="enter quantity">
    </div>
    <div class="form-group">
        <label for="exampleInputqua">Image</label>
        <img src="/images/@Model.Image" width="200px" alt="Alternate Text" />
        <input name="Image" type="file" class="form-control" id="exampleInputqua">
    </div>
    <label>Category</label>
    <select class="form-control mb-3" name="CategoryId">
        @foreach (var item in ViewBag.categories)
        {
            if(item.Id==Model.CategoryId)
            {
                <option value="@item.Id" selected>@item.Name</option>
            }
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
